ol
{
	color: red;
}
.F_G:hover
{
	color:red;
}
.F_G
{
	color:black; 
	font-size: 30px;
}

#line_block 
{ 
        width:450px; 
        height:300px; 
        background:#f1f1f1; 
        float:left; 
        margin: 0 15px 15px 0; 
        text-align:center;
        padding: 10px;
        }
.Tandau
{
	width: 100%;
	height: 70px;	
}
.Astingiblog
{
	max-width: auto;
	padding: 1%;
	background-color: #11115555;
}
.KonT
{
}

.KonD
{
    padding: 5px; /* Поля вокруг текста */
    float: left; /* Обтекание по правому краю */
   	width: 720px; /* Ширина слоя */
}
.KonF
{
    padding: 0px; /* Поля вокруг текста */
    width: 250px; /* Ширина слоя */
    float: left; /* Обтекание по правому краю */
}
.OnlineO
{
    padding: 5px; /* Поля вокруг текста */
    float: left; /* Обтекание по правому краю */
   	width: 500px; /* Ширина слоя */
}
.OnlineS
{
margin-left: 100px;
    padding: 0px; /* Поля вокруг текста */
    width: 350px; /* Ширина слоя */
    float: left; /* Обтекание по правому краю */
}
 .clear 
 {
    clear: left; /* Отмена обтекания */
 }
.info
{
	font-family: Georgia, 'Times New Roman', Times, serif;
	color: black;
}
.batirma
{
 color:#FFFF;
 background-color: #2FA6BB;
	font-size: 18px;
	padding: 1%;
	margin: 1% 10% 2% 42%;
}
#Jbatirma
{
 	color:#FFFF;
 	background-color: #2FA6BB;
	font-size: 18px;
	padding: 1%;
	
}
#in1{
	padding: 2%;
	width: 1050px;
	margin-left: 150px;
	background-color: #ffff;
	font-size:20px;
}

#kbatirma
{
 	float: right;
 	color:#FFFF;
 	background-color: #2FA6BB;
	font-size: 18px; 
	padding: 8px;
}
*{
	box-sizing: border-box;
}
a{
	color:#ffff;
	text-decoration:none;
	display: inline-block;
}
ul,
li{
	list-style: none;
}
.container
{
}

body{
	padding-right: 0%;
	padding-left: 0%;
	padding: 0%;
	width: 1340px;
	background-color: #ffff;
}

.container1_slovo{
	opacity: .8;
	color:#03235E;
	font-size: 80px;
	margin-left: 0px;
	text-align:center;
	font-weight:bold;
}
.Tandau li
{
}

ul 
{		
 padding: 0%;
 list-style: none;
}

ul li {
  text-decoration: none;
 float: left; 
 display: block;
 width: 191px;
 height: 80%;
 color:black;
 font-weight:bold;
 padding-top: 2px;
 background-color: #03235E;
 opacity: .9; text-align: center;
 font-size: 26px;
}

ul li a {
	 color: white;
	 display: block;
}

ul li:hover {
 background-color: #030000;
 color:#030000;
}

ul li ul li{
 display: none;
}

ul li:hover ul li {
 display: block;
}
ul li ul ul{
 display: none;
}

ul li ul:hover ul{
 display: block;
}
ul li li:hover ul{
 display: none;
}
body {
  background-image: url(fon.jpg);
  
  /* Центрирование изображения по вертикали и горизонтали всегда */
  background-position: center center;
  
  /* Запрещаем повтор изображения */
  background-repeat: no-repeat;
  
  /* Фиксируем изображение */
  background-attachment: fixed;
  
  /* Изображение будет масштабироваться в зависимости от размеров контейнера */
  background-size: cover;
  
  background-color:#464646;
}

/* adaptive */

.takirip
{	
	background-color:#03235E;
	margin: 0% auto 0% auto;
	color:#ffff;
}
.Onin1{
	margin-top: -100px;
	
}		