body
{
    background: #000 url(Fon.jpg); /* Фоновый цвет и фоновый рисунок*/
        color: #fff; /*Цвет текста на странице*/
        background-attachment: fixed; /* Фон страницы фиксируется */
        background-size: 100%;
}
.pr1 
{
  opacity:0.8;
    background-color: #333;
    /*border: 1px solid red;*/
    color:#fff;
	/*height: 3em;*/
    background-color: #333;
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
   /* transition: top 0.3s; /* Transition effect when sliding down (and up) */
}
/* Style buttons */
/* Links inside the navbar */
.pr1 button 
{
    float: left;
    border: none;
    background-color: #2222;
    color: #f2f2f2;
    text-align: center;
    padding: 1%;
    text-decoration: none;
    font-size: 120%;
}
/* Change background on mouse-over */
.pr1 button:hover 
{
    background: #7777;
    color: black;
}
.pr2 button:hover {
    background: #7777;
    color: black;
}
.btn:hover
{
    background: #7777;
    color: black;
}
.pr2 
{
    width: 12%;
position: absolute;
height: 100%;
display: table;
white-space: normal;
}
.pr2 button
{       
        background-color: #2222;
    color: #f2f2f2;
    text-align: center;
    padding: 1%;
    text-decoration: none;
    font-size: 150%;
        height: 15%;
        width: 100%;
}
.Takirip
{
    background: linear-gradient(45deg, deeppink, dodgerblue 50%);
    text-align: center;
    font-size: 50px;
    -webkit-text-fill-color:transparent;
    -webkit-background-clip:text;
 }
.Test_sh
{
    color:black;
    font-size: 32px;
  width:100%; /* ширина нашего блока */
height:500px; /* высота нашего блока */
background: #80AAFC; /* цвет фона, белый */
border: 1px solid red; /* размер и цвет границы блока */
overflow: auto;
		}
.sabak
{
    color:red;
    margin-left: 15%;
    }
